.fact-list-container {
  text-align: center;
  margin-top: 20px;
  padding: 0.4rem;
  width: 100%;
}

.fact-list {
  display: flex;

  gap: 10px;
  padding-bottom: 1rem;
  margin-top: 15px;
  overflow: auto;
}

app-button {
  margin-top: 15px;
}

.list-title {
  color: white;
  font-size: 25px;
}

@media screen and (max-width: 650px) {
  .fact-list-container {
    padding: 0;
   
  }


}

.fact-list-container::-webkit-scrollbar {
  width: 8px;
}

.fact-list-container::-webkit-scrollbar-track {
  background: rgba(250, 6, 205, 0.1);
  border-radius: 10px;
}

.fact-list-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.fact-list-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
